.user{
    font-size: 40px;
    color:rebeccapurple;
    background-color: pink;
    padding-bottom:20px;
    padding-top: 10px;
}
.form{
    text-align: center;
    height: 100vh !important;
    border:2px solid black;
    background-color: white !important;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
}
.register{
    color:black;
    font-size: 20px;

}
.acc{
    width:50%;
    border-radius: 10px;
    height:40px;
    margin-bottom: 10px;
}
.register_img{
    margin-top: 15vh;
}
