.user{
    font-size: 40px;
    color:black;
    margin-bottom:20px;
    margin-top: 10px;
}
.form{
    text-align: center;
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.register{
    color:blue;
    font-size: 20px;
}
.acc{
    width:50%;
    border-radius: 10px;
    height:40px;
    margin-bottom: 10px;
}